header {
  background-color: #FBF7F7;
  background-image: url("../images/flywheel.jpg"); 
  background-size: cover;
  padding: 10px;
}
h1{
	text-align: center;
	color: #FFFFFF;
    font-size: 48px;
}
h2{
	color: #0000CC;
}
section{
	background-color: #00CC00;
}
img{
	display: block;
    background-position: center;
    width: 80%;
    margin: 5%;
    border: 2px;
    border-color: #000000;
}
a{
	font-style: oblique;
	font-family: cursive;
    color: #00CD4A;
    background-color: rgba(93, 0, 221, 0.4);
    text-align: center;
    
}
body{
  padding: 3px 5px;
  margin: 30px 5px;
}
nav a {
    text-decoration: none;
    margin: 5%;
    padding: 2% 3%;
    display: inline-block;
    border-radius: 25px;
    font-size: 20px;
    background-color: rgba(251,247,247,0.2);
}
nav a.active{
    background-color: rgba(255,255,255,1);
}
.left{
    display: inline-block;
    width: 15%;
    background-color: #777784;
    float: left;
    padding-bottom: 10%;
}
.right{
    display: inline-block;
    width: 85%;
}