header {
  background:#A0A0A0; 
}
h1{
	text-align: center;
	color: #7500BB;
	background-color: #00CC75;
}
h2{
	color: #0000CC;
}
section{
	background-color: #00CC00;
}
img{
	display: none;
}
a{
	font-style: oblique;
	font-family: cursive;
    color: #00CD4A;
    background-color: rgba(93, 0, 221, 0.4);
    text-align: center;
}